<html>
	<head>
	</head>
	<body style="margin: 20px;">
		<h2>App version {{ .app_version }}</h2>
		<form action="/admin/app_version/edit" method="POST" class="pure-form" enctype="multipart/form-data">
			New App Version <input type="text" name="app_version" /> </br>
			<input type="submit" value="submit" class="pure-button pure-button-primary"/>
		</form>
		
	</body>
</html>
