<html>
	<head>
		<link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
		<script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script>
		<link href="/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
		<script>
			$(document).ready(function(){
				$( "#start_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				
				$( "#end_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});

				$('input[name="event_type"]:radio').change(
				    function(){
				    	if (this.value == "one_time") {
				    		$('#time_range_form').hide()
				    		$('#one_time_form').show()
				    	}else if (this.value == "time_range") {
				    		$('#time_range_form').show()
				    		$('#one_time_form').hide()

				    	}
				    }
				); 
			});
		</script>
	</head>
	<body style="margin: 20px;">
		<h2> Events </h2>
		<table class="table_list">
			<tr>
				<th>ID</th>
				<th>Image</th>
				<th>Priority</th>
				<th>Title</th>
				<th>Description</th>
				<th>Tip Title</th>
				<th>Tip Description</th>
				<th>Type</th>
				<th>Data</th>
				<th></th>
				<th></th>
			</tr>
			{{range .}}

			<tr>
				<td>{{.id}}</td>
				<td><img src="{{.icon_url}}" width="230px" height="230px"/></th>
				<td>{{.priority}}</td>
				<td>{{.title}}</td>
				<td>{{.description}}</td>
				<td>{{.tip_title}}</td>
				<td>{{.tip_description}}</td>
				<td>{{.event_type}}</td>
				<td>{{.data}}</td>
				<td><a href="/admin/event/edit?id={{.id}}">Edit</a></td>
				<td><a href="/admin/event/delete?id={{.id}}">Delete</a></td>
			</tr>
			{{ end }}
		</table>
		<h2>Create new event</h2>
		<form action="/admin/event/create" method="POST" class="pure-form" enctype="multipart/form-data">
			<input type="text" name="priority" placeholder="priority" /></br>
			<input type="text" name="multiplier" placeholder="multiplier" /></br>
			<input type="text" name="bonus" placeholder="bonus" /></br>
			<input type="text" name="title" placeholder="title" /></br>
			<input type="text" name="description" placeholder="description" /></br>
			<input type="text" name="tip_title" placeholder="tip title" /></br>
			<input type="text" name="tip_description" placeholder="tip description" /></br>
    		<input type="file" name="icon_url" id="icon_url"></br>
			
			<INPUT TYPE="radio" NAME="event_type" VALUE="one_time" checked="checked">One Time
			<INPUT TYPE="radio" NAME="event_type" VALUE="time_range">Time Range
			</br>
			<div id="one_time_form"></div>

			<div id="time_range_form" style="display:none">
				Start date (Vietnamese time) <input type="text" name="start_date" id="start_date"/> Time (23:59:59): <input type="text" name="start_time" id="start_time" value="17:00:00"/></br>
			End date (Vietnamese time) <input type="text" name="end_date" id="end_date"/> Time (23:59:59): <input type="text" name="end_time" id="end_time" value="3:30:15"/></br>
			</div>



			<input type="submit" value="submit" class="pure-button pure-button-primary"/>
		</form>
	</body>
</html>