<html>
	<head>
		{{template "header_link_script" .}}
		<script>
		</script>
	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}
		<div class="row">
			<div class="col-md-4">
				<form action="/admin/game/{{.game_code}}/help/edit" method="POST" class="pure-form" enctype="multipart/form-data">
					<input type="hidden" name="game_code" value="{{ .game_code }}"></br>
					<input type="hidden" name="currency_type" value="{{ .currency_type }}"></br>
					<div class="form-group">
						<label for="help">Help:</label>
						<textarea id="help" name="help_text" class="form-control" rows="20">{{.help_text}}</textarea>
					</div>

					
					<input type="submit" value="submit" class="btn btn-primary"/>
				</form>
			</div>
		</div>
	</body>
</html>