<html>
	<head>
		{{ template "header_link_script" .}}
		<script>
			$(document).ready(function(){
				$( "#start_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				
				$( "#end_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});

				var numPages = {{ .num_pages }}
				var page = {{ .page }}
				var paginationUl = $(".pagination")
				var prevPage = page - 1
				var prevAddress = "/admin/money/gift_payment/replied?start_date={{ .start_date }}&start_time={{ .start_time }}"+
				"&end_date={{ .end_date }}&end_time={{ .end_time }}&keyword="+{{.keyword}}+"&page="+prevPage
				var preLi = $( "<li>"+
						      "<a href=\""+prevAddress+"\" aria-label=\"Previous\">"+
						        "<span aria-hidden=\"true\">&laquo;</span>"+
						      "</a>"+
						    "</li>")
				if (page == 1) {
					preLi.addClass("disabled")
				}

				if (numPages > 0) {
					paginationUl.append(preLi)
				}


				var skip = false
				if (numPages > 10) {
					skip = true
				}
				var nextLiWillBeSkipLi = false
				for (i = 1; i <= numPages; i++) {
					if (i <= 3 || i >= numPages - 2 || (i >= page - 2 && i <= page + 2)) {
						var address = "/admin/money/gift_payment/replied?start_date={{ .start_date }}&start_time={{ .start_time }}"+
						"&end_date={{ .end_date }}&end_time={{ .end_time }}&keyword="+{{.keyword}}+"&page="+i

						var elementLi = $("<li><a href=\""+address+"\">"+i+"</a></li>")
						if (i == page) {
							elementLi.addClass("disabled")
						}
						paginationUl.append(elementLi)
					}else if (i == page - 3 || i == page + 3) {
						var skipLi = $( "<li class=\"disabled\">"+
						      "<a href=\"#\" aria-label=\"Skip\">"+
						        "<span aria-hidden=\"true\">...</span>"+
						      "</a>"+
						    "</li>")
						paginationUl.append(skipLi)
					}
				}

				var nextPage = page + 1
				var nextAddress = "/admin/money/gift_payment/replied?start_date={{ .start_date }}&start_time={{ .start_time }}"+
				"&end_date={{ .end_date }}&end_time={{ .end_time }}&keyword="+{{.keyword}}+"&page="+nextPage
				var nextLi = $("<li>"+
						      "<a href=\""+nextPage+"\" aria-label=\"Next\">"+
						        "<span aria-hidden=\"true\">&raquo;</span>"+
						      "</a>"+
						    "</li>")
				if (page == numPages) {
					nextLi.addClass("disabled")
				}

				if (numPages > 0) {
					paginationUl.append(nextLi)
				}
			});

		</script>
	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}

<div class="row">
			<div class="col-md-4">
				<form action="/admin/money/gift_payment/replied" method="GET" class="pure-form" enctype="multipart/form-data">

					<div class="form-group">
						<label for="start_date">Start date (Vietnamese time)</label>
						<input type="text" id="start_date" name="start_date" class="form-control" placeholder="Start date" value="{{.start_date}}" />
					</div>
					<div class="form-group">
						<label for="start_time">Time (23:59:59):</label>
						<input type="text" name="start_time" class="form-control" placeholder="Start time" value="{{.start_time}}" />
					</div>
					<div class="form-group">
						<label for="end_date">End date (Vietnamese time)</label>
						<input type="text" id="end_date" name="end_date" class="form-control" placeholder="End date" value="{{.end_date}}" />
					</div>
					<div class="form-group">
						<label for="end_time">Time (23:59:59):</label>
						<input type="text" name="end_time" class="form-control" placeholder="Start time" value="{{.end_time}}" />
					</div>
					<div class="form-group">
						<label for="keyword">Player's username</label>
						<input type="text" name="keyword" class="form-control" placeholder="Player's username" value="{{.keyword}}" />
					</div>
					<input type="submit" value="Refresh" class="btn btn-primary"/>
				</form>
			</div>
		</div>



	<table class="table">
			<tr>
				<th>ID</th>
				<th>Player's username</th>
				<th>Code</th>
				<th>VipPoint before</th>
				<th>VipPoint after</th>
				<th>Admin's username</th>
				<th>Status</th>
				<th>Created at</th>
				<th>Replied at</th>
			</tr>
			{{range .replied_payments}}
			<tr>
				<td><a href="/admin/money/gift_payment/requested/{{.id}}">{{.id}}</a></td>
				<td>{{.username}}</td>
				<td>{{.code}}</td>
				<td>${{.vip_point_before}}</td>
				<td>${{.vip_point_after}}</td>
				<td>{{.admin_username}}</td>
				<td>{{.status}}</td>
				<td>{{.created_at}}</td>
				<td>{{.replied_at}}</td>
			</tr>
			{{ end }}
		</table>

		
<nav>
  <ul class="pagination">
  </ul>
</nav>
	</body>
</html>