<html>
	<head>
		{{ template "header_link_script" .}}
		<script>
				$(document).ready(function(){
				$( "#start_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				
				$( "#end_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
			});
		</script>

	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}

		<div class="row">
			<div class="col-md-4">
				<form action="/admin/money/card_history" method="GET" class="pure-form" enctype="multipart/form-data">
					<div class="form-group">
						<label for="start_date">Start date (Vietnamese time)</label>
						<input type="text" id="start_date" name="start_date" class="form-control" placeholder="Start date" value="{{.start_date}}" />
					</div>
					<div class="form-group">
						<label for="end_date">End date (Vietnamese time)</label>
						<input type="text" id="end_date" name="end_date" class="form-control" placeholder="End date" value="{{.end_date}}" />
					</div>
					<input type="submit" value="Refresh" class="btn btn-primary"/>
				</form>
			</div>
		</div>

		Tổng số tiền của tất cả thẻ cào đã add: {{.total_sum}} <br/>
		Tổng số tiền của tất cả thẻ còn lại: {{.unclaimed_sum}} <br/>
		Tổng số tiền của tất cả thẻ đã trao thưởng: {{.claimed_sum}} <br/>
		
		<hr>
		<table class="table">
			<tr>
				<th>Telco</th>
				<th>Value</th>
				<th>Card code</th>
				<th>Tổng số thẻ cào đã add vào</th>
				<th>Tổng tiền thẻ cào đã add vào</th>
				<th>Số thẻ còn lại để trả thưởng</th>
				<th>Tổng tiền thẻ còn lại để trả thưởng</th>
				<th>Số thẻ đã dùng để trao thưởng</th>
				<th>Tổng tiền thẻ đã trao thưởng</th>
			</tr>
			{{range .results}}
			<tr>
				<td>{{.telco}}</td>
				<td>{{.real_money}}</td>
				<td>{{.card_code}}</td>
				<td>{{.count}}</td>
				<td>{{.sum}}</td>
				<td>{{.unclaimed_count}}</td>
				<td>{{.unclaimed_sum}}</td>
				<td>{{.claimed_count}}</td>
				<td>{{.claimed_sum}}</td>
			</tr>
			{{ end }}
		</table>
	</body>
</html>