<html>
	<head>
		{{template "header_link_script" .}}
		<script>
			$(document).ready(function(){
				$( "#start_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				
				$( "#end_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
			});
		</script>
	</head>
	<body style="margin: 20px;">
		{{ template "nav" . }}
		<div class="row">
			<div class="col-md-4">
				<form action="/admin/money/purchase_type/{{.purchase_type.id}}/edit" method="POST">
					<input type="hidden" name="id" value="{{.purchase_type.id}}"/>
					<div class="form-group">
						<label for="purchase_type">Type</label>
						<select name="purchase_type" id="purchase_type" class="form-control">
							<option {{if eq .purchase_type.purchase_type "appvn"}} selected {{ end }} value="appvn">appvn</option>
							<option {{if eq .purchase_type.purchase_type "paybnb"}} selected {{ end }}  value="paybnb">paybnb</option>
						</select>
					</div>
					<div class="form-group">
						<label for="code">Code</label>
						<input type="text" name="code" class="form-control" id="code" placeholder="Code" value="{{.purchase_type.purchase_code}}">
					</div>
					<div class="form-group">
						<label for="money">Money in game</label>
						<input type="text" name="money" class="form-control" id="money" placeholder="Money (in game)" value="{{.purchase_type.money}}">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</body>
</html>