<html>
	<head>
		{{template "header_link_script" .}}

	</head>
	<body style="margin: 20px;">
		{{ template "nav" .}}
		<div class="row">
			<div class="col-md-4">
				<div class="list-group">
				<a href="/admin/otp/reward" class="list-group-item">OTP Reward</a>
				<a href="/admin/otp/code" class="list-group-item">OTP Code</a>

				</div>
			</div>
		</div>
	</body>
</html>
