<html>
	<head>
		{{template "header_link_script" .}}
		<script>
		</script>
	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}
		<div class="row">
			<div class="col-md-4">
				<form action="/admin/push_notification/{{.app_type}}/update" method="POST" class="pure-form" enctype="multipart/form-data">
					<input type="hidden" name="app_type" value="{{.app_type}}"/>
					<div class="form-group">
						<label for="apns_key_file_content">APNS Key file content:</label>
						<textarea id="apns_key_file_content" name="apns_key_file_content" class="form-control" rows="20">{{ .apns_key_file_content }}</textarea>
					</div>
					<div class="form-group">
						<label for="apns_cer_file_content">APNS Cer file content:</label>
						<textarea id="apns_cer_file_content" name="apns_cer_file_content" class="form-control" rows="20">{{ .apns_cer_file_content }}</textarea>
					</div>
					<div class="form-group">
						<label for="apns_type">APNS Type:</label> <br/>
						<label class="radio-inline" id="apns_type">
							<input type="radio" name="apns_type" id="inlineRadio1" value="sandbox" {{if eq .apns_type "sandbox"}} checked="checked" {{ end }}> Sandbox
						</label>
						<label class="radio-inline">
							<input type="radio" name="apns_type" id="inlineRadio2" value="production" {{if eq .apns_type "production"}} checked="checked" {{ end }}> Production
						</label>
					</div>
					<div class="form-group">
						<label for="gcm_api_key">GCM API key:</label>
						<textarea id="gcm_api_key" name="gcm_api_key" class="form-control" rows="3">{{ .gcm_api_key }}</textarea>
					</div>
					
					<input type="submit" value="submit" class="btn btn-primary"/>
				</form>
			</div>
		</div>
	</body>
</html>