<html>
	<head>
		{{ template "header_link_script" .}}

	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}





	<table class="table">
			<tr>
				<th>ID</th>
				<th>Player's username</th>
				<th>Details</th>
				<th>Money before</th>
				<th>Money after</th>
				<th>Status</th>
				{{if eq .payment_type "card"}}
				<th>Serial code</th>
				<th>Card number</th>
				{{end}}
				<th>Created at</th>
			</tr>
			<tr>
				<td>{{.id}}</td>
				<td>{{.username}}</td>
				{{if eq .payment_type "card"}}
				<td>{{.card_code}}</td>
				{{else}}
				<td>{{.data.code}}</td>
				{{end}}
				<td>${{.value_before}}</td>
				<td>${{.value_after}}</td>
				<td>{{.status}}</td>

				{{if eq .payment_type "card"}}
				<td>{{.serial_code}}</td>
				<td>{{.card_number}}</td>
				{{end}}
				<td>{{.created_at}}</td>
			</tr>
		</table>




</nav>
	</body>
</html>