<html>
	<head>
		{{template "header_link_script" .}}

	</head>
	<body style="margin: 20px;">
		{{ template "nav" .}}
		<div class="row">
			<div class="col-md-4">
				<div class="list-group">
				<a href="/admin/report/active/hau" class="list-group-item">HAU</a>
				<a href="/admin/report/active/dau" class="list-group-item">DAU</a>
				<a href="/admin/report/active/mau" class="list-group-item">MAU</a>
				<a href="/admin/report/active/nru" class="list-group-item">NRU</a>
				<a href="/admin/report/active/ccu" class="list-group-item">CCU</a>
				<a href="/admin/report/active/cohort" class="list-group-item">Cohort</a>
				</div>
			</div>
		</div>

	</body>
</html>
