<html>
	<head>
		{{template "header_link_script" .}}
		<script>
			$(document).ready(function(){
				$( "#start_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				
				$( "#end_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});

				var numPages = {{ .num_pages }}
				var page = {{ .page }}
				var paginationUl = $(".pagination")
				var prevPage = page - 1
				var prevAddress = "/admin/report/purchase?start_date={{ .start_date }}&start_time={{ .start_time }}"+
				"&end_date={{ .end_date }}&end_time={{ .end_time }}&report_type={{.report_type}}&page="+prevPage
				var preLi = $( "<li>"+
						      "<a href=\""+prevAddress+"\" aria-label=\"Previous\">"+
						        "<span aria-hidden=\"true\">&laquo;</span>"+
						      "</a>"+
						    "</li>")
				if (page == 1) {
					preLi.addClass("disabled")
				}

				if (numPages > 0) {
					paginationUl.append(preLi)
				}


				var skip = false
				if (numPages > 10) {
					skip = true
				}
				var nextLiWillBeSkipLi = false
				for (i = 1; i <= numPages; i++) {
					if (i <= 3 || i >= numPages - 2 || (i >= page - 2 && i <= page + 2)) {
						var address = "/admin/report/purchase?start_date={{ .start_date }}&start_time={{ .start_time }}"+
						"&end_date={{ .end_date }}&end_time={{ .end_time }}&report_type={{.report_type}}&page="+i

						var elementLi = $("<li><a href=\""+address+"\">"+i+"</a></li>")
						if (i == page) {
							elementLi.addClass("disabled")
						}
						paginationUl.append(elementLi)
					}else if (i == page - 3 || i == page + 3) {
						var skipLi = $( "<li class=\"disabled\">"+
						      "<a href=\"#\" aria-label=\"Skip\">"+
						        "<span aria-hidden=\"true\">...</span>"+
						      "</a>"+
						    "</li>")
						paginationUl.append(skipLi)
					}
				}

				var nextPage = page + 1
				var nextAddress = "/admin/report/purchase?start_date={{ .start_date }}&start_time={{ .start_time }}"+
				"&end_date={{ .end_date }}&end_time={{ .end_time }}&report_type={{.report_type}}&page="+nextPage
				var nextLi = $("<li>"+
						      "<a href=\""+nextPage+"\" aria-label=\"Next\">"+
						        "<span aria-hidden=\"true\">&raquo;</span>"+
						      "</a>"+
						    "</li>")
				if (page == numPages) {
					nextLi.addClass("disabled")
				}

				if (numPages > 0) {
					paginationUl.append(nextLi)
				}
			});
		</script>
	</head>
	<body style="margin: 20px;">
		{{ template "nav" . }}

<div class="row">
			<div class="col-md-4">
				<form action="/admin/report/purchase" method="GET" class="pure-form" enctype="multipart/form-data">
					<div class="form-group">
						<label for="start_date">Start date (Vietnamese time)</label>
						<input type="text" id="start_date" name="start_date" class="form-control" placeholder="Start date" value="{{.start_date}}" />
					</div>
					<div class="form-group">
						<label for="end_date">End date (Vietnamese time)</label>
						<input type="text" id="end_date" name="end_date" class="form-control" placeholder="End date" value="{{.end_date}}" />
					</div>
					<div class="form-group">
						<label for="report_type">Report type</label> <br/>
						<label class="radio-inline" id="report_type">
							<input type="radio" name="report_type" value="" {{if eq .report_type ""}} checked="checked" {{ end }}> Tất cả
						</label>
						<label class="radio-inline" id="report_type">
							<input type="radio" name="report_type" value="paybnb" {{if eq .report_type "paybnb"}} checked="checked" {{ end }}> PayBnB
						</label>
						<label class="radio-inline" id="report_type">
							<input type="radio" name="report_type" value="appvn" {{if eq .report_type "appvn"}} checked="checked" {{ end }}> Appvn
						</label>
						<label class="radio-inline" id="report_type">
							<input type="radio" name="report_type" value="iap" {{if eq .report_type "iap"}} checked="checked" {{ end }}> In App Purchase (iOS Apple)
						</label>
						<label class="radio-inline" id="report_type">
							<input type="radio" name="report_type" value="admin_add" {{if eq .report_type "admin_add"}} checked="checked" {{ end }}> Admin tặng
						</label>
					</div>
					<input type="submit" value="Refresh" class="btn btn-primary"/>
				</form>
			</div>
		</div>



	<h2>Summary</h2>
	Tổng nạp tiền: {{ .total_purchase }} <br/>
	Tổng nạp tiền bằng thẻ cào: {{ .total_purchase_by_card }} <br/>
	Tổng nạp tiền bằng iap: {{ .total_purchase_by_iap }} <br/>
	Tổng nạp tiền qua PayBnB: {{ .total_purchase_by_paybnb }} <br/>
	Tổng nạp tiền qua Appvn: {{ .total_purchase_by_appvn }} <br/>
	Tổng nạp tiền qua iOS: {{ .total_purchase_by_ios }} <br/>
	Tổng nạp tiền qua Android: {{ .total_purchase_by_android }} <br/>

	<hr>
	<table class="table">
			<tr>
				<th>Loại thẻ</th>
				<th>Số lần</th>
			</tr>
			{{range .group_count}}
			<tr>
				<td>{{.amount}}</td>
				<td>{{.count}}</td>
			</tr>
			{{ end }}
	</table>


	<h2>Total purchase</h2>
	<table class="table">
			<tr>
				<th>ID</th>
				<th>Player ID</th>
				<th>Username</th>
				<th>Player Type</th>
				<th>Purchase Type</th>
				<th>Transaction ID</th>
				<th>Card Code</th>
				<th>Purchase</th>
				<th>Money before</th>
				<th>Money after</th>
				<th>Created at</th>
			</tr>
			{{range .total_list}}
			<tr>
				<td><a href="/admin/record/purchase/{{.id}}">{{.id}}</a></td>
				<td><a href="/admin/player/{{.player_id}}/history">{{.player_id}}</a></td>
				<td>{{.username}}</td>
				<td>{{.player_type}}</td>
				<td>{{.purchase_type}}</td>
				<td>{{.transaction_id}}</td>
				<td>{{.card_code}}</td>
				<td>{{.purchase}}</td>
				<td>{{.value_before}}</td>
				<td>{{.value_after}}</td>
				<td>{{.created_at}}</td>
			</tr>
			{{ end }}
		</table>


<nav>
  <ul class="pagination">
  </ul>
</nav>
	</body>
</html>


