<html>
	<head>
		{{template "header_link_script" .}}
	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}

		<div class="row">
			<div class="col-md-4">
				<form action="/admin/report/total_money" method="GET" class="pure-form" enctype="multipart/form-data">
					<div class="radio">
						<label class="radio-inline">
							<input type="radio" name="currency_type" id="currency_type" value="money"  {{if eq .currency_type "money"}} checked="checked" {{ end }}> Tiền thật <br/>
						</label>
						<label class="radio-inline">
							<input type="radio" name="currency_type" id="currency_type" value="test_money"  {{if eq .currency_type "test_money"}} checked="checked" {{ end }}> Tiền ảo <br/>
						</label>
					</div>
					<input type="submit" value="Refresh" class="btn btn-primary"/>
				</form>
			</div>
		</div>

	(1) Tổng tiền của người chơi đang có: {{.total_player_money}} <br/>
	(2) Tổng tiền của bank (quỹ) đang có: {{.total_bank_money}} <br/>
	(1) + (2) Tổng tiền: {{.total_money}} <br/>
	Tổng tiền đã cashout: {{.payment}} <br/>
	Tổng cashout % so với tổng tiền (người chơi + bank): {{.percent_payment_total}}<br/>
	<hr>


	<h3>Tiền người chơi đang có</h3>
	(1) Tổng tiền của người chơi (bình thường) đang có: {{.total_player_normal_money}} <br/>
	(1) Tổng tiền của bot đang có: {{.total_player_bot_money}} <br/>
	(1) + (2) Tổng tiền của tất cả người chơi đang có: {{.total_player_money}} <br/>

	<hr>
	<h3>Phế</h3>
	(1) Tổng tiền phế cashout: {{.payment_tax}} <br/>
	(2) Tổng tiền phế tất cả các game: {{.match_tax}} <br/>
	(1) + (2) Tổng phế: {{.total_tax}}
	<table class="table">
		<tr>
			<th>Game</th>
			<th>Tax</th>
		</tr>
		{{range $key,$value := .tax_data}}
		<tr>
			<td>{{$key}}</td>
			<td>{{$value}}</td>
		</tr>
		{{end}}
	</table>
	<hr>

	<h3>Quỹ (bank) của mỗi game</h3>
	<table class="table">
		<tr>
			<th>Game</th>
			<th>Quỹ (bank)</th>
		</tr>
		{{range $key,$value := .bank_data}}
		<tr>
			<td>{{$key}}</td>
			<td>{{$value}}</td>
		</tr>
		{{end}}
	</table>
	<hr>

	<hr>
	Tổng tiền nạp thẻ: {{.total_purchase_by_card}} <br/>
	<br/>
	(1) Tổng tiền admin cho bot: {{.money_add_to_bot}} <br/>
	(2) Tổng tiền admin cho người chơi: {{.money_add_to_user}} <br/>
	(1) + (2) Tổng tiền admin cho: {{.money_add_to_all}} <br/>
	<br/>
	(1) Tổng tiền cho lúc tạo account cho bot: {{.money_add_when_start_to_bot}} <br/>
	(2) Tổng tiền cho lúc tạo account cho người chơi: {{.money_add_when_start_to_user}} <br/>
	(1) + (2) Tổng tiền cho lúc tạo account: {{.money_add_when_start_to_all}} <br/>
	<br/>
	<hr>
	(1) Tổng tiền bot đang có: {{.total_bot_money}} <br/>
	(2) Tổng tiền bot đã thắng: {{.total_bot_win}} <br/>
	(1) + (2) Tổng tiền bot đã thua: {{.total_bot_lose}} <br/>

	<hr>
	<h3>Old report</h3>
	Total Payment: {{ .payment }} <br/>
	Total Purchase: {{ .purchase }} <br/>
	<br/>

	Total money in system: {{.total_money_in_system}} </br>
	Total money of player in system: {{.total_money_player_in_system}} ({{.ratio_player_money}})</br>
	Total money of bot in system: {{.total_money_bot_in_system}} ({{.ratio_bot_money}})</br>
	<br/>

	System gain money by payment/purchase: {{ .system_gain_by_payment_purchase }} </br>
	System gain money by game: {{ .system_gain_by_game }} </br>
	Total system gain: {{.total_system_gain}} </br>
	<br/>
	</body>
</html>