<html>
	<head>
		{{template "header_link_script" .}}
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
			$(document).ready(function(){
				$( "#start_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				$( "#end_date" ).datepicker({
				dateFormat: "dd-mm-yy"
				});
				

			});
			// Load the Visualization API and the piechart package.
		      google.load('visualization', '1.0', {'packages':['corechart']});

		      // Set a callback to run when the Google Visualization API is loaded.
		      google.setOnLoadCallback(drawChart);

		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {

		        // Create the data table.
		        var data = google.visualization.arrayToDataTable([
		          ['Date', 'Active count'],
				{{ range $index, $element := .results }}
				['{{$element.date}}', {{$element.count}}],
				{{ end }}
		        ]);


		        // Set chart options
		        var options = {'title':'{{.page_title}}',
		                       'width':1400,
		                       'height':600,
			                   legend: { position: 'bottom' }};

		        // Instantiate and draw our chart, passing in some options.
		        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		        chart.draw(data, options);
		      }
		</script>
	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}
		<div class="row">
			<div class="col-md-4">
				<form action="/admin/report/active/nru" method="GET" class="pure-form" enctype="multipart/form-data">
					<div class="form-group">
						<label for="start_date">Start date (Vietnamese time)</label>
						<input type="text" id="start_date" name="start_date" class="form-control" placeholder="Start date" value="{{.start_date}}" />
					</div>
					<div class="form-group">
						<label for="end_date">End date (Vietnamese time)</label>
						<input type="text" id="end_date" name="end_date" class="form-control" placeholder="End date" value="{{.end_date}}" />
					</div>
					<input type="submit" value="Refresh" class="btn btn-primary"/>
				</form>
			</div>
		</div>

			<table class="table">
				<tr>
					<td>Date</td>
					{{ range $index, $element := .results }}
					<td>{{$element.date}}</td>
					{{ end }}
				</tr>
				<tr>
					<td>Active count</td>
					{{ range $index, $element := .results }}
					<td>{{$element.count}}</td>
					{{ end }}
				</tr>
			</table>
		    <div id="chart_div"></div>
		</body>
</html>