<html>
	<head>
		{{template "header_link_script" .}}
	</head>
	<body style="margin: 20px;">
		{{template "nav" .}}
		<div class="row">
			<div class="col-md-4">
				<form action="/user/actual_reset_password" method="POST" class="pure-form" enctype="multipart/form-data">
					<input type="hidden" name="code" value="{{.code}}" />
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" placeholder="Password" />
					</div>
					<div class="form-group">
						<label for="password">Confirm Password</label>
						<input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" />
					</div>
					<br/>
					<input type="hidden" name="email" value="{{.email}}"/>
					<input type="hidden" name="id" value="{{.id}}"/>
					
					<input type="submit" value="submit" class="btn btn-primary"/>
				</form>
			</div>
		</div>
		
		
	</body>
</html>